:root{
    --cor-fundo:#3C3484;
    --cor-fundo-estudantes:#D9D9D9;
    --cor-fundo-escola:#D7E535;
    --cor-fundo-escola:#4E8CE9;
    --cor-fontes:#FFFFFF;
}
    .cabecalho{
        background-color: var(--cor-fundo);
        color: var(--cor-fontes);
    }